/* ------COMMON------ */

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
  font-style: normal;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #ffffff;
}

/* .main-block {
  margin: 0 auto;
} */
@media screen and (min-width: 320px) {
  body {
    overflow-x: hidden;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 320px;
  padding-right: 16px;
  padding-left: 16px;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding-right: 15px;
    padding-left: 15px;
  }
}

.section {
  padding-top: 96px;
  padding-bottom: 96px;
}

@media screen and (min-width: 1158px) {
  .section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}
/* ------HEADER------ */

@media screen and (max-width: 767px) {
  .menu {
    display: none;
  }

  .address {
    display: none;
  }
}

.page-header {
  padding-top: 16px;
  padding-bottom: 16px;
  margin: 0 auto;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
}

.header-navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.logo-part {
  color: #2e2f42;
}

.menu-burger-btn {
  background-color: transparent;
  fill: #2f2f37;
  border: none;
  padding: 0;
  line-height: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-burger-btn:hover,
.menu-burger-btn:focus {
  background-color: #404bbf;
  fill: #fff;
}

/* ------MOBILE MENU------ */

@media screen and (max-width: 767px) {
  .mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999999;
    background-color: #fff;

    opacity: 0;
    visibility: hidden;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
      visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
  }

  .mobile {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 72px;
    padding-bottom: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 4px;
    width: 100%;
    height: 100%;
    background: #fff;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .modal-close-btn {
    border: 1px solid rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 24px;
    right: 24px;
    border-radius: 50%;
    line-height: 0;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    background-color: #fff;
    fill: #2e2f42;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .modal-close-btn:hover,
  .modal-close-btn:active,
  .modal-close-btn:focus {
    background-color: #404bbf;
    border: #404bbf;
    fill: #fff;
  }

  .close-btn {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .mobile-menu-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  .mobile-social-list-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .mobile-social-list-item-footer {
    width: 40px;
    height: 40px;
  }

  .mobile-social-list-link-footer {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #4d5ae5;
    padding: 8px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .mobile-social-list-link-footer:hover,
  .mobile-social-list-link-footer:focus {
    background-color: #404bbf;
  }
  .mobile-address {
    margin-bottom: 48px;
  }
  .mobile-address-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 48px;
  }
  .mobile-link {
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    color: #2e2f42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .mobile-address-link {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .mobile-link:hover,
  .mobile-link:focus {
    color: #404bbf;
  }

  .mobile-address-link:hover,
  .mobile-address-link:focus {
    color: #4d5ae5;
  }
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
  .menu-burger-btn {
    display: none;
  }

  .page-navigation {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
    margin-left: 120px;
  }
  .address-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .address-item {
    font-weight: 400;
    font-size: 12px;
    line-height: 117%;
    letter-spacing: 0.04em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .menu-item {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #2e2f42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .menu-link {
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .page-header {
    padding-top: 0;
    padding-bottom: 0;
  }
  .address-item:hover,
  .address-item:focus {
    color: #404bbf;
  }

  .menu-item:hover,
  .menu-item:focus {
    color: #404bbf;
  }

  .current {
    position: relative;
    color: #404bbf;
  }

  .current::after {
    content: '';
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border-radius: 2px;
    height: 4px;
    width: 100%;
    background-color: #404bbf;
    position: absolute;
    left: 0;
    bottom: -1px;
  }
}

@media screen and (min-width: 1158px) {
  .address-item {
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
  }

  .address-list {
    display: flex;
    flex-direction: row;
    gap: 40px;
    padding-top: 24px;
    padding-bottom: 24px;
  }
}

/* ------HERO------ */

.hero {
  max-width: 320px;
  min-height: 432px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 72px;
  padding-bottom: 72px;

  background-color: #2e2f42;
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url('../images/background/bg-mobile.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-title {
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  max-width: 216px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 72px;
}

.button-hero {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;

  color: #fff;
  background-color: #4d5ae5;
  display: block;
  margin: 0 auto;
  padding: 16px 32px;
  border-radius: 4px;
  border: none;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);

  min-height: 56px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-hero:hover,
.button-hero:focus {
  background-color: #404bbf;
  border-color: #404bbf;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
@media screen and (max-width: 767px) and (min-resolution: 192dpi) {
  .hero {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url('../images/background/bg-mobile@2x.jpg');
  }
}

@media screen and (min-width: 768px) {
  .hero {
    max-width: 768px;
    min-height: 436px;
    padding-top: 112px;
    padding-bottom: 112px;
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url('../images/background/bg-tablet.jpg');
    background-size: cover;
  }
  .hero-title {
    font-size: 56px;
    line-height: 107%;
    min-width: 496px;
    min-height: 120px;
    margin-bottom: 36px;
  }
}

@media screen and (min-width: 768px) and (min-resolution: 192dpi) {
  .hero {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url('../images/background/bg-tablet@2x.jpg');
  }
}

@media (min-width: 1158px) {
  .hero {
    max-width: 1440px;
    min-height: 600px;
    padding-top: 188px;
    padding-bottom: 188px;
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url('../images/background/bg-desktop.jpg');
  }

  .hero-title {
    font-size: 56px;
    line-height: 107%;
    min-width: 496px;
    margin-bottom: 48px;
  }
}

@media screen and (min-width: 1158px) and (min-resolution: 192dpi) {
  .hero {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url('../images/background/bg-desktop@2x.jpg');
  }
}

/* ------SERVIES------ */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.icon-services {
  display: none;
}

.services-block-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 72px;
}

.services {
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}

.services-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
}

@media screen and (min-width: 768px) {
  .services-block-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 24px;
    row-gap: 72px;
    flex-wrap: wrap;
  }

  .services-block-item {
    width: calc((100% - 1 * 24px) / 2);
  }

  .services {
    text-align: left;
  }
}

@media screen and (min-width: 1158px) {
  .services-block-list {
    display: flex;
    flex-direction: row;
    align-self: ;
    flex-wrap: nowrap;
    gap: 24px;
  }
  .icon-services {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    max-width: 264px;
    height: 112px;
    background: #f4f4fd;
    margin-bottom: 8px;
    padding: 24px 100px;
  }
  .services-block-item {
    width: calc((100% - 3 * 24px) / 4);
  }

  .services {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
  }

  .services-text {
    font-weight: 400;
  }
}
/* ------TEAM------ */
.team-block {
  background-color: #f4f4fd;
  gap: 24px;
}

.team-block-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 72px;
}

.team-block-card {
  border-radius: 0 0 4px 4px;
  max-width: 264px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
}

.team-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}

.team-block-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
  margin-bottom: 8px;
}

.discription {
  padding: 16px 32px;
}

.social-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.social-list-item {
  width: 40px;
  height: 40px;
}

.social-list-icon {
  fill: #f4f4fd;
}
.social-list-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  padding: 12px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-link:hover,
.social-list-link:focus {
  background-color: #404bbf;
}

@media screen and (min-width: 768px) {
  .team-block-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 24px;
    row-gap: 64px;
    flex-wrap: wrap;
  }

  .team-block-card {
    width: calc((100% - 1 * 24px) / 2);
  }
}

/* ------PORTFOLIO------ */

.block-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
}

.portfolio-item:hover {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.portfolio-card {
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  padding: 32px 16px;
}

.portfolio-text {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.portfolio-block-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #4d5ae5;
  padding: 40px 32px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}

.portfolio-item-overlay {
  position: relative;
  overflow: hidden;
}

.portfolio-item:hover .overlay {
  transform: translateY(0);
}

@media screen and (min-width: 768px) {
  .portfolio-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
  }
  .portfolio-item {
    width: calc((100% - 1 * 24px) / 2);
  }
}

@media screen and (min-width: 1158px) {
  .portfolio-item {
    width: calc((100% - 2 * 24px) / 3);
  }
}

/* ------FOOTER------ */
@media screen and (max-width: 767px) {
  .footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 72px;
  }
}

.footer {
  background-color: #2e2f42;
  padding-top: 96px;
  padding-bottom: 96px;
  color: #f4f4fd;
}

.logo-part-footer {
  color: #f4f4fd;
}

.logo-footer {
  display: inline-block;
  margin-bottom: 16px;
  text-align: left;
}

.block-text-footer {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  text-align: left;
}

.footer-card {
  text-align: center;
  max-width: 288px;
}

.social-list-footer {
  display: flex;
  margin-bottom: 0;
  gap: 16px;
  justify-content: space-between;
  align-items: center;
}
.social-list-item-footer {
  width: 40px;
  height: 40px;
}

.social-list-icon-footer {
  margin-left: 16px;
}

.social-list-link-footer {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #4d5ae5;
  padding: 8px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-link-footer:hover,
.social-list-link-footer:focus {
  background-color: #31d0aa;
}

.social-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #fff;
  text-align: center;
  margin-bottom: 16px;
}

.footer-prescription {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.email-prescription {
  width: 288px;
  height: 40px;
  border: 1px solid #fff;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  opacity: 0.3;
  padding: 8px 16px;
  outline: none;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  background-color: transparent;
  color: #ffffff;
}

.button-subscribe {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 165px;
  height: 40px;
  padding: 8px 24px;
  border-radius: 4px;
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.04em;
  cursor: pointer;
  color: #fff;
  border: none;
  line-height: 1.5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-subscribe:hover,
.button-subscribe:focus {
  background-color: #31d0aa;
}
.email-prescription::placeholder {
  font-family: inherit;
  font-weight: 400;
  font-size: 12px;
  line-height: 200%;
  letter-spacing: 0.04em;
  color: #ffffff;
}

.social-text-prescription {
  display: block;
}
@media screen and (min-width: 768px) and (max-width: 1157px) {
  .footer-container {
    display: flex;
    flex-direction: row;
    column-gap: 24px;
    row-gap: 72px;
    flex-wrap: wrap;
    padding-left: 108px;
  }
}

@media screen and (min-width: 768px) {
  .footer-card {
    max-width: 264px;
    text-align: left;
  }

  .footer-prescription {
    display: flex;
    flex-direction: row;
    gap: 24px;
  }

  .email-prescription {
    width: 264px;
  }

  .social-text {
    text-align: left;
  }
}

@media screen and (min-width: 1158px) {
  .footer-container {
    display: flex;
    flex-direction: row;
  }

  .footer-card {
    margin-right: 120px;
  }
  .block-social-footer {
    margin-right: 80px;
  }

  .email-prescription {
    opacity: 1;
  }
}

/* ------BACKDROP------ */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999999;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 0;
  visibility: hidden;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
  opacity: 1;
  visibility: visible;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 4px;
  width: 288px;
  min-height: 623px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background: #fcfcfc;

  padding: 72px 16px 24px 16px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn {
  border: 1px solid rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 24px;
  right: 24px;
  border-radius: 50%;
  line-height: 0;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  background-color: #e7e9fc;
  fill: #2e2f42;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:active,
.modal-close-btn:focus {
  background-color: #404bbf;
  border: #404bbf;
  fill: #fff;
}

.close-btn {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* ------FORM------ */
.form-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}

.feadback-form-label {
  display: block;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 117%;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.feadback {
  margin-bottom: 8px;
}

.user-feadback {
  width: 100%;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  height: 40px;
  padding-left: 38px;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.user-feadback-comment {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  height: 120px;
  padding: 8px 16px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);

  background-color: transparent;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.feadback-form-icons {
  fill: #2e2f42;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 16px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-wraper {
  position: relative;
}

.user-feadback:focus + .feadback-form-icons {
  fill: #4d5ae5;
}

.user-feadback:focus {
  border-color: #4d5ae5;
  outline: transparent;
}

.user-feadback-comment:focus {
  border-color: #4d5ae5;
  outline: transparent;
}
.user-feadback-comment::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 117%;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}

.feadback-texarea {
  margin-bottom: 16px;
}

.checkbox-privacy-policy {
  margin-bottom: 24px;
}
.pravacy-policy-link {
  line-height: 133%;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
}
.feadback-form-label-privacy {
  display: flex;
  font-weight: 400;
  font-size: 12px;
  line-height: 117%;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 0;
  align-items: center;
}

@media screen and (max-width: 767) {
  .feadback-form-label-privacy-block {
    display: flex;
    flex-direction: column;
  }
}
.checkbox-privacy-policy {
  display: flex;
  align-items: center;
}
.feadback-form-own-chackbox {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-right: 7.5px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  min-width: 16px;
  min-height: 16px;
  cursor: pointer;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.feadback-checkbox:checked
  + .feadback-form-label-privacy
  .feadback-form-own-chackbox {
  background-color: #404bbf;
  border: 1px solid #404bbf;
  fill: #f4f4fd;
  border: none;
}

.feadback-checkbox:focus
  + .feadback-form-label-privacy
  .feadback-form-own-chackbox {
  outline: 1px solid #4d5ae5;
}

.pravacy-policy-link:focus {
  outline: 1px solid #4d5ae5;
}

.form-send-btn {
  display: block;
  margin: 0 auto;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-send-btn:hover,
.form-send-btn:focus {
  background-color: #404bbf;
}

@media screen and (min-width: 768px) {
  .modal {
    width: 408px;
    min-height: 584px;
    padding: 72px 24px 24px 24px;
  }
}
